/* https://about.gitlab.com/handbook/marketing/corporate-marketing/#colors */
#nav ul.icons li a.icon.fa-gitlab:hover:before,
#footer ul.icons li a.icon.fa-gitlab:hover:before,
#footer a.fa-gitlab:hover,
.fa-gitlab:hover {
  color: #FC6D26 !important;
}
#footer ul.icons.alt li a.icon.fa-gitlab:hover:before {
  box-shadow: inset 0 0 0 2px #FC6D26;
}

/* https://brandcolors.net */
#nav ul.icons li a.icon.fa-github:hover:before,
#footer ul.icons li a.icon.fa-github:hover:before,
#footer a.fa-github:hover,
.fa-github:hover {
  color: #333333 !important;
}
#footer ul.icons.alt li a.icon.fa-github:hover:before {
  box-shadow: inset 0 0 0 2px #333333;
}

/* https://brandcolors.net */
#nav ul.icons li a.icon.fa-linkedin:hover:before,
#nav ul.icons li a.icon.fa-linkedin-in:hover:before,
#footer ul.icons li a.icon.fa-linkedin:hover:before,
#footer ul.icons li a.icon.fa-linkedin-in:hover:before,
#footer a.fa-linkedin:hover,
#footer a.fa-linkedin-in:hover,
.fa-linkedin:hover,
.fa-linkedin-in:hover {
  color: #0077B5 !important;
}
#footer ul.icons.alt li a.icon.fa-linkedin:hover:before,
#footer ul.icons.alt li a.icon.fa-linkedin-in:hover:before {
  box-shadow: inset 0 0 0 2px #0077B5;
}

/* https://brandcolors.net */
#nav ul.icons li a.icon.fa-xing:hover:before,
#footer ul.icons li a.icon.fa-xing:hover:before,
#footer a.fa-xing:hover,
.fa-xing:hover {
  color: #CFDC00 !important;
}
#footer ul.icons.alt li a.icon.fa-xing:hover:before {
  box-shadow: inset 0 0 0 2px #CFDC00;
}

/* https://brandcolors.net */
#nav ul.icons li a.icon.fa-stack-overflow:hover:before,
#footer ul.icons li a.icon.fa-stack-overflow:hover:before,
#footer a.fa-stack-overflow:hover,
.fa-stack-overflow:hover {
  color: #F48024 !important;
}
#footer ul.icons.alt li a.icon.fa-stack-overflow:hover:before {
  box-shadow: inset 0 0 0 2px #F48024;
}

/* https://about.twitter.com/en_us/company/brand-resources.html */
#nav ul.icons li a.icon.fa-twitter:hover:before,
#footer ul.icons li a.icon.fa-twitter:hover:before,
#footer a.fa-twitter:hover,
.fa-twitter:hover {
  color: #1DA1F2 !important;
}
#footer ul.icons.alt li a.icon.fa-twitter:hover:before {
  box-shadow: inset 0 0 0 2px #1DA1F2;
}

